BeautifulSoup4
matplotlib
numpy==1.26.4
pandas==1.4
plotly
scikit-learn
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz#egg=en_core_web_sm
cohere
fuzzywuzzy